<div class="movie_card">
  <div class="image_con">
    <img src="{{ movies_data.poster }}" alt="Thumbnail of the movie" />
  </div>
  <div class="name_info_rating">
    <div class="name_info">
      <h1>{{ movies_data.name }}</h1>
      <button
        mat-icon-button
        class="details"
        routerLink="/movielist/{{ movies_data.movieId }}"
      >
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <p class="rating">⭐ {{ movies_data.rating }}</p>
  </div>
  <div class="delete">
    <button mat-raised-button (click)="deleteMovie()">delete</button>
  </div>
</div>
