body {
  margin: 0;
  // display: grid;
  display: flex;
  flex-direction: row;

  place-content: center;
  min-height: 100vh;
}

// /------------------------------------
.movie_card {
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  transition: box-shadow 0.15s;
  background: #ffffff;
  float: left;
}

.movie_card:hover {
  // box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.name_info_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
}
.name_info {
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.image_con {
  padding-top: 15px;
  width: 315px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 290px;
  height: 400px;
  border-radius: 20px;
}
h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.summary {
  opacity: 60%;
}
p {
  margin: 0;
}
