<div class="wholecontainer">
  <div class="container">
    <!-- <img src="{{ movie.poster }}" alt="Extraordinary" /> -->
    <!-- <iframe
      width="1536"
      height="695"
      [src]="trustedUrl"
      title="Jai Bhim - Official Hindi Trailer | Suriya | Amazon Prime Video"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe> -->
    <div class="headingAndRating">
      <h1>{{ movie.name }}</h1>
      <p class="rating">⭐ {{ movie.rating }}</p>
    </div>
    <!-- <p class="summary" style="display: none">{{ movies_data.summary }}</p> -->
    <div class="description">
      <p class="summary">{{ movie.summary }}</p>
    </div>
  </div>
</div>
